<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!--加载mail.properties配置文件-->
    <context:property-placeholder location="classpath:resource/email.properties"/>
    <context:component-scan base-package="com.wenxin.util"/>
    <!--申明JavaMailSenderImpl-->
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="defaultEncoding" value="utf-8"/>
        <property name="host" value="${mail_host}"/>
        <property name="username" value="${mail_username}"/>
        <property name="password" value="${mail_password}"/>
        <property name="javaMailProperties">
            <props>
                <!--设置认证开关-->
                <prop key="mail.smtp.auth">true</prop>
                <!--启动调试开关-->
                <prop key="mail.debug">true</prop>
                <!--设置发送超时-->
                <prop key="mail.smtp.timeout">0</prop>
            </props>
        </property>
    </bean>
</beans>